/* O * pode ser usado para resetar informações globais estilizantes da nossa interface*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicando fontes personalizada. */

body,
input,
button {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;

  /*Propriedade que deixa os contornos das fotnes mais suaves*/
  --webkit-font-smoothing: antialiased; 
}